.mainBody {
    min-height: 100vh;
    background-image:
        radial-gradient(at 0% 0%, rgba(230, 230, 230, 1) 0px, transparent 110%),
        radial-gradient(at 70% 80%, rgba(233, 215, 88, 0.8) 0px, transparent 90%);

    background-color: #ffff;
}

.maincard {
    max-width: 800px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);

    /* 2. 模糊效果 (這是靈魂) */
    backdrop-filter: blur(50px);


    /* 3. 邊框與陰影 (增加立體感與玻璃邊緣) */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    /* 圓角讓玻璃感更柔和 */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);


}