.adm_bg {
    min-height: 100vh;
    background-image:
        radial-gradient(at 0% 0%, rgba(230, 230, 230, 1) 0px, transparent 110%),
        radial-gradient(at 70% 80%, rgba(233, 215, 88, 0.8) 0px, transparent 90%);

    background-color: #ffff;
}